body {
  font-family: "Segoe UI", sans-serif;
  background:url(thanu.jpg);
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

h3,H5,H2 {
  color: #cc3366;
  margin-bottom: 20px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background-color: #ff66a3;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e05590;
}

a.btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #66cc99;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
}

a.btn:hover {
  background-color: #55b88a;
}
